<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Menu Utama"
        android:supportsRtl="true"
        android:theme="@style/Theme.Minggu2"
        tools:targetApi="31">
        <activity
            android:name=".linearlayout"
            android:exported="false"
            android:label="Linear layout"/>
        <activity
            android:name=".mainmenu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".horizontalscrooll"
            android:exported="false" />
        <activity
            android:name=".vertikalscroll"
            android:exported="false"
            android:label="Scroll Vertical"/>
        <activity
            android:name=".materiandesign"
            android:exported="false"
            android:label="Text Button"/>
        <activity
            android:name=".tabellayout"
            android:exported="false"
            android:label="Tabel Layout"/>
        <activity
            android:name=".framelayout"
            android:exported="false"
            android:label="Frame Layout"
            />
        <activity
            android:name=".customize"
            android:exported="false"
            android:label="Constrain Layout"
            />
        <activity
            android:name=".relativelayout"
            android:exported="false"
            android:label="Relative Layout"/>
    </application>

</manifest>